* {
	box-sizing: border-box;
	background: none;
}

body {
	font-family: 'PT Serif', serif;
	padding: 100px;
}

#videos {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 20%;
	padding-top: 50px;
	z-index: -1;
}

video {
	/*display: inline-block;*/
	padding: 5px;
	margin: 0px;
	max-width: 100%;
	/*max-height: 100%;*/
	/*object-fit: cover;*/
	/*display: table-cell;*/
	/*float: left;*/
}

video:hover {
	cursor: pointer;
}

#text {
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	width: 80%;
	text-align: center;
}

#actions {
	width: 50%;
	float: left;
	margin-bottom: 50px;
	padding-right: 4%;
}

#controllers {
	width: 50%;
	float: left;
	padding-left: 4%;
}

h2 {
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: grey;
	text-align: center;
	margin-bottom: 30px;
}

button {
	font-size: 35px;
	word-spacing: -1px;
	height: 50px;
	font-family: serif;
	border: none;
	font-style: italic;
}

button:hover {
	color: blue;
}

button:focus {
	/*color: blue;*/
	outline: none;
}

.viableButton {
	color: lightgrey;
}

.selectedController {
	color: blue;
}

.selectedAction {
	color: blue;
}










