*{}

body{
	font-family: 'Scheherazade', serif; 
	/*background-color: #fbd3d2;*/
	/*background-color: #e23f30;*/
	background-color: #fcdc42;
}

#text {
	width: 900px;
	padding: 30px;
	margin-left: 250px;
	margin-top: 8%;
	color: black;
	font-weight: 400;
	font-size: 70px;
	line-height: 74px;
	word-spacing: -1px;
	letter-spacing: -.3px;
	background-color: white;
}

a {
	display: inline;
}


img {
	/*width: 60px;*/
	height: 50px;
	object-fit: cover;
	object-position: center;
	z-index: 1;
	position: relative;
	top: 2px;
}

img:hover {
	opacity: 0;
}

.link {
	font-style: normal;
	position: relative;
	right: 60px;
	z-index: 0;
}

h1{
	font-family: 'Scheherazade', monospace;
	width: 900px;
	height: 100px;
	margin-left: 280px;
	margin-top: 8%;
	color: black;
	font-weight: 400;
	letter-spacing: 1px;
 	font-size: 70px;
 	font-weight: 500;
 	text-transform: uppercase;
}

h2{
	font-family: 'Scheherazade', monospace;
	width: 900px;
	height: 100px;
	margin-left: 280px;
	color: black;
	font-weight: 400;
	line-height: 10px;
	word-spacing: -1px;
	letter-spacing: -.3px;
	font-size: 50px;
 	font-weight: 400;
}

#source {
	width: 100px;
	height: 50px;
	position: absolute;
	top: 8%;
	padding: 15px;
	left: 100px;
	font: serif;
	font-weight: 800;
	font-size: 20px;
	color: black;
} 

#source i {
	color: black;
	width: 20px;
	height: 20px;
}

a {
	color: #fcdc42;
}










