*{}

body{
	/*background-color: black;*/
}

#text {
	width: 500px;
	height: 100px;
	padding: 30px;
	margin:auto;
	margin-top: 20%;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 25px;
	background-color: white;
}

a {
	display: inline;
}


img {
	width: 60px;
	height: 18px;
	object-fit: cover;
	z-index: 1;
	position: relative;
	top: 2px;
}

img:hover {
	opacity: 0;
}

.link {
	font-style: normal;
	position: relative;
	right: 60px;
	z-index: 0;
}

#data {
	width: 100px;
	height: 50px;
	position: absolute;
	bottom: 50px;
	left: 400px;
} 