* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}

body {
	/*background-color: lightgrey;*/
}

#titleBlock {
	width: 400px;
	height: 460px;
	margin: auto;
	background-color: white;
	border: 4px solid darkgrey;
	margin-top: 10%;
	padding: 10px;
}

#titleBlock input {
	align-content: right;
	margin-bottom: 20px;
}

#titleBlock h1 {
	text-align: center; 
	font-size: 24px;
}

#lost {
	width: 25%;
	position: absolute;
	top: -48px;
	left: 0;
}